/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.mainSection {
  width: 600px;
  border: 2px solid darkblue;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* gap: 20px; */
}

.inputDiv > h2 {
  color: #2b6d2e;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputDiv > button {
  width: 100px;
  background-color: #2b6d2e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inputDiv > button:hover {
  background-color: #45a049;
  border: none;
}

.responseDiv {
  border: 2px solid darkgreen;
  border-radius: 15px;
  color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 20px;
  padding: 30px;
}

.divWrapper {
  display: flex;
  justify-content: center;
}
