.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainDiv {
  background-color: #71870e;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
  border: 1px solid #263b54;
  text-align: center;
  max-width: 400px;
  width: 90%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mainDiv h2 {
  margin-bottom: 16px;
  color: #0e1f59;
}

.mainDiv p {
  margin: 8px 0;
  color: #333;
  font-size: 16px;
}
