.mainSection {
  display: flex;
  justify-content: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.mainDiv > h2 {
  color: darkgreen;
}

.mainDiv > span {
  color: darkred;
}

.userInfoDiv {
  color: black;
  font-size: 30px;
}
