.mainSection {
  display: flex;
  justify-content: center;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mainForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.mainForm > button {
  width: 100px;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.formRow > label {
  width: 100px;
}
.formRow > input {
  width: 300px;
}
.formRow > select {
  width: 310px;
}

.error {
  color: red;
  width: 200px;
  font-size: 0.9rem;
  height: 1.2em;
}

.message {
  color: green;
  font-size: 20px;
}

.errMessage {
  color: red;
  font-size: 25px;
}
