.profileCard {
  border: 2px solid #0b35bd;
  padding: 16px;
  max-width: 300px;
  border-radius: 20px;
  /* display: flex; */
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  margin: 10px;
}

.profileCard img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profileCard h2 {
  margin: 12px 0 8px;
  font-size: 20px;
}

.profileCard p {
  color: #ed0808;
  font-size: 16px;
}

.profileCardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
