html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 50px;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 30px;
  background-color: black;
}
